* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  --aubergine: #4c2538;
  --maincream: #f5f0e1;
  --babyblue: #6ca6ed;
  --orangesun: #fd5200;
  --text: #000000;
}

img {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 20px;
}

h1 {
  font-family: "parry", sans-serif;
  font-weight: 800;
  font-style: italic;
  font-size: 30px;
  text-align: center;
  margin: 15px 0px 30px;
  color: var(--text);
}

a,
p,
li {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: var(--text);
}

p {
  font-size: 15px;
  line-height: 26px;
}

body {
  background-color: var(--maincream);
}

@media (min-width: 600px) {
  h1 {
    font-size: 50px;
  }

  p {
    font-size: 17px;
  }
}
