* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  --aubergine: #4c2538;
  --maincream: #f5f0e1;
  --babyblue: #6ca6ed;
  --orangesun: #fd5200;
  --text: #000000;
}

a,
p,
li {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: var(--text);
}

body {
  background-color: var(--maincream);
}
