---
import Ansog from "../components/Ansog.astro";
import MainLayout from "../layout/main-layout.astro";
import ApiGet from "../components/ApiGet.astro";
---

<MainLayout>
  <h1>Ansøg huset</h1>
  <div class="ansog_container">
    <div class="text_section">
      <ApiGet pagenr="2"/>
      <br>
      <p>
        <br> <span class="price"> Priser: </span>
        <br> <span>Halv dag: </span> 200 kr
        <br> <span> Hel dag: </span> 350 kr
      </p>
    </div>


    <div class="forms_section">
      <img class="roof" src="img/tag.svg" alt="">
      <Ansog />
    </div>
  </div>
</MainLayout>

<style>
  .text_section{
    margin-top: 100px;
  }
  .price{
    font-size: 20px;
    font-weight: bolder;

  }
  span {
    font-weight: bold;
}

.forms_section{
  display: flex;
  flex-direction:column;
  align-items:center;
}

.roof{
  position: relative;
  max-width: 350px;
  bottom: -2px;
  
}
@media (min-width:800px){
  .ansog_container{
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
</style>