---
export const prerender = true;
import Textcontainer from "../components/Textcontainer.astro";
import MainLayout from "../layout/main-layout.astro";
import Bluearrow from "../components/Bluearrow.astro";
import Frivillig from "../components/frivilligForm.astro";
import ApiGet from "../components/ApiGet.astro"
---

<MainLayout title="Frivillig" background="ansog-bg">
  <h1>Bliv frivillig</h1>
  <div class="frivillig_container">
    <div class="text-container">
      <Textcontainer>
        <ApiGet pagenr="4"/>
      </Textcontainer>
    </div>
    <div class="placement">
      <div class="image-container">
        <img src="/img/frivillig.svg" alt="frivillig billede" />
      </div>
      <div class="form-container">
        <Frivillig />
      </div>
    </div>
  </div>

  <Bluearrow />
</MainLayout>

<style>
  .placement {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .image-container {
    width: 200px;
    margin-bottom: 30px;
  }

  img {
    max-width: 400px;
  }

  @media (min-width: 700px) {
    .image-container {
      width: 50%;
    }
    .placement {
      align-items: center;
      flex-wrap: nowrap;
      gap: 20px;
    }
  }
</style>
