---
export const prerender = true;
import Textcontainer from "../components/Textcontainer.astro";
import MainLayout from "../layout/main-layout.astro";
import Bluearrow from "../components/Bluearrow.astro";
import Frivillig from "../components/frivilligForm.astro";
---

<MainLayout>
  <h1>Bliv frivillig</h1>
  <div class="frivillig_container">
    <div class="text-container">
      <Textcontainer>
        <p>Bidrag til lokalsamfundet som frivillig hos os. Uanset din interesse og erfaring, har vi brug for dig! Vi tilbyder fleksible arbejdstider og dejlige kollegaer. Kom og vær en del af vores dedikerede team.</p>
      </Textcontainer>
    </div>
    <div class="placement">
      <div class="image-container">
        <img src="img/frivillig.svg" alt="frivillig billede" />
      </div>
      <div class="form-container">
        <Frivillig />
      </div>
    </div>
  </div>

  <Bluearrow />
</MainLayout>

<style>
  .placement {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
   
  }

  .image-container {
  
  }

  img{
    max-width: 400px;
  }

  

  @media (min-width: 700px) {
    .image-container {
      width:50%;
      
    }
    .placement {
      align-items: center;
      gap: 20px;
    }
  }
</style>
