---

import MainLayout from "../layout/main-layout.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro"; 
import Button from "../components/Button.astro";

---


<MainLayout title="Forside">
<Header>
	<h1>hej hej</h1>

	<h1>Verdens Mindste Kulturhus</h1>
	<Button classname="button_stor" action="Læs mere" link="/om-os.astro">
	<Footer/>
</MainLayout>


