---
import Textcontainer from "../components/Textcontainer.astro";
import MainLayout from "../layout/main-layout.astro";
import Cards from "../components/Cards.astro";
import Button from "../components/Button.astro";
import Bluearrow from "../components/Bluearrow.astro";
---

<MainLayout title="Forside">
  <div class="image-container">
    <img src="img/index_billede.webp" alt="forside billede">
    <img src="img/vmk_forside_logo_mobil.svg" alt="vmk forside logo mobil">
  </div>

  <div class="aubergine_arrow">
    <img src="img/aubergine_arrow_down.svg" alt="">
  </div>





  <h1>Verdens Mindste Kulturhus</h1>
  <Textcontainer>
    <p>Vi er et småt, men levende kulturhus, der er passioneret omkring at skabe et rum, hvor forskellige former for kunstnerisk udtryk kan blomstre. Vores mål er at være et fristed for både etablerede og upcoming kunstnere samt et kreativt samlingspunkt for alle, der elsker kunst og kultur.</p>
  </Textcontainer>
  <p class="title">Kommende begivenheder...</p>
  <Cards />
  <p class="title">Om os</p>
  <div class="om_os_container">
    <div class="img_section">
      <img src="img/huset-udfra.webp" alt="billede af VMK kulurhus" />
    </div>
    <div class="text_section">
      <p>På Mimersgade overfor nr 64, ligger en ombygget skibscontainer beklædt med træ og malet blåt. Omkring er et område med græs, blomsterkasser, bænke og borde. Inspireret af filmen Bagdad Café, tog Ane, Julie og Nadja (som i dag frivilligt drifter og kuraterer huset) i foråret 2022 en beslutning om at omdanne det til et kulturhus - Verdens Mindste Kulturhus.</p>
      <div class="button">
        <Button classname="button_big" action="Læs mere" link="/om-os" />
      </div>
    </div>
  </div>

  <Bluearrow />
</MainLayout>

<style>
  .title {
    font-family: "parry", sans-serif;
    font-weight: 800;
    font-style: italic;
    font-size: 25px;
    text-align: center;
    margin: 70px 0px 30px;
  }

  .om_os_container {
    display: grid;
    row-gap: 20px;
  }

  .button {
    display: flex;
    justify-content: flex-end;
  }


.image-container {
  position: relative;
  overflow: hidden;
  width: 300px; 
  height: 200px; 
}

.image-container img {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
}



.aubergine_arrow img {
    cursor: pointer;
    width: 60px;
    border-radius: 0%;
}


  @media (min-width: 600px) {
    .title {
      font-size: 35px;
    }
    .om_os_container {
      display: grid;
      grid-template-columns: 1fr 1fr;
      column-gap: 40px;
    }
  }
</style>
