---
import MainLayout from "../layout/main-layout.astro";

---

<MainLayout title="Om os">
<h1>Om os</h1>
<div class="content-section">
    <div class="first-image-container">
        <img src="img-about-us/huset-udfra.png" alt="">
    </div>
    <div class="text-container">
        <p>“På Mimersgade overfor nr 64, ligger en ombygget skibscontainer beklædt med træ og malet blåt. Omkring er et område med græs, blomsterkasser, bænke og borde. Inspireret af filmen Bagdad Café, tog Ane, Julie og Nadja (som i dag frivilligt drifter og kuraterer huset) i foråret 2022 en beslutning om at omdanne det til et kulturhus - Verdens Mindste Kulturhus. <br> <br>
 
            I filmen Bagdad Café forvandler to kvinder et slummet motel midt i Arizonas ørken til en lille magisk perle, folk kommer valfartende til. De to kvinder bruger knofedt, deres store personligheder og fylder stedet med trylleshows, koncerter og festlig stemning. Inspirerede af filmen smurte vi ærmerne op, og tænkte, det kan vi også gøre. <br> <br>
            
            Siden har huset været fyldt med aktiviteter. Benspændet er at huset er lille, og aktiviteterne skal formes derudfra, men det er også dets force. Her mødes man, og ingen kan undgå at blive en væsentlig del af det der sker - hved end det er en smal performance, en børnebio eller en fællesspisning.”</p>

    </div>
    <div class="second-image-container">
        <img src="img-about-us/team-vmk.png" alt="">
    </div>
</div>

</MainLayout>

<style>
    .content-section{
        display: grid;
        grid-template-columns: 1fr;
        column-gap: 40px;
        row-gap: 40px;
       
        


    }
    .first-image-container,.second-image-container{
        max-width: 600px;
        margin-inline: auto;
    }

    

    @media only screen and (min-width: 1000px) {
        .content-section{
        grid-template-columns: 1fr 1fr;
        max-width: none;
        
        

    }


}
  


</style>


