---
export const prerender = true; // alle sider der ikke er i month 
import ApiGet from "../components/ApiGet.astro"
import MainLayout from "../layout/main-layout.astro";
import Bluearrow from "../components/Bluearrow.astro";

---

<MainLayout background="om-os-bg" title="Om os">
<h1>Om os</h1>
<div class="content-section">
    <div class="first-image-container">
        <img src="img/huset-udfra.webp" alt="">
    </div>
    <div class="text-container">
        <ApiGet pagenr="1"/>

    </div>
    <div class="second-image-container">
        <img src="img/team-vmk.webp" alt="">
    </div>
</div>
<Bluearrow />
</MainLayout>

<style>
    .content-section{
        display: grid;
        grid-template-columns: 1fr;
        column-gap: 40px;
        row-gap: 40px;
       
        


    }
    .first-image-container,.second-image-container{
        max-width: 600px;
        margin-inline: auto;
    }

    

    @media only screen and (min-width: 1000px) {
        .content-section{
        grid-template-columns: 1fr 1fr;
        max-width: none;
        
        

    }


}
  


</style>


