---

---

<div class="blue_arrow_container">
    <img class="blue_arrow" src="img/blue_arrow.svg" alt="blue arrow">
</div>

<style>
    .blue_arrow_container{
        display: flex;
        justify-content: flex-end;
    }
    img {
        cursor: pointer;
        width: 60px;
        margin: 60px 0px 20px;
    }
</style>

<script>

    const button = document.querySelector(".blue_arrow");
    
    button.addEventListener("click",scrollToTop);
    
    
    function scrollToTop() {

    window.scrollTo({top: 0, behavior: 'smooth'});

    }
    </script>