---
---

<div class="burgerBack">
  <span class="burger"></span>
</div>

<nav class="hide">
  <ul>
    <li><a href="/">Forside</a></li>
    <li><a href="/begivenheder">Begivenheder</a></li>

    <li><a href="/ansog">Ansøg huset</a></li>

    <li><a href="/frivillig">Frivillig</a></li>

    <li><a href="/om-os">Om os</a></li>
  </ul>
</nav>

<style>
  nav {
    background-color: var(--aubergine);
    position: absolute;
    z-index: 3;
    width: 280px;
    transition: all 0.2s ease-in;
    top: 0%;
    right: 0%;
    border-bottom-left-radius: 100px;
    overflow: hidden;
  }

  nav ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    padding: 90px;
    gap: 50px;
    overflow: hidden;
  }

  nav ul li a {
    color: var(--maincream);
    text-decoration: none;
    overflow: hidden;
    font-weight: bold;
  }

  .hide {
    translate: 200% -200%;
  }

  .burger {
    position: relative;
    display: block;
    width: 30px;
    height: 4px;
    background-color: var(--maincream);
    transition: all 0.2s ease-in-out;
    border-radius: 2px;
    cursor: pointer;
    float: right;
    z-index: 5;
  }
  .burger::after,
  .burger::before {
    position: absolute;
    background-color: var(--maincream);
    content: "";
    width: 30px;
    height: 4px;
    transition: all 0.2s ease-in-out;
    border-radius: 2px;
  }
  .burger::before {
    top: 8px;
  }

  .burger::after {
    top: -8px;
  }

  .active {
    background-color: transparent;
  }

  .active::after {
    transform: rotate(45deg) translate(5px, 6px);
  }
  .active::before {
    transform: rotate(-45deg) translate(5px, -6px);
  }

  .burgerBack {
    padding: 30px;
    background-color: var(--aubergine);
    width: 100px;
    float: right;
    border-bottom-left-radius: 400px;
    border-bottom-right-radius: 40%;
    margin-right: -20px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    z-index: 4;
  }
</style>

<script>
  const burgerback = document.querySelector(".burgerBack");
  const burgerContainer = document.querySelector(".burgerContainer");
  const burger = document.querySelector(".burger");
  const menu = document.querySelector("nav");

  burgerback.addEventListener("click", function () {
    burger.classList.toggle("active");
    menu.classList.toggle("hide");
  });
</script>
