---
---

<div class="footer_flex">
  <div class="footertext">
    <a href="https://www.google.com/maps/place/Verdens+Mindste+Kulturhus/@55.7003778,12.5415816,17z/data=!3m1!4b1!4m6!3m5!1s0x4652538fb5ca89af:0x499414347adaa663!8m2!3d55.7003748!4d12.5441619!16s%2Fg%2F11tc1fc2nr"><p>Mimersgade 62, 
2200 København N</p></a>
    <a href="mailto: info@verdensmindstekulturhus.dk"><p>info@verdensmindstekulturhus.dk</p></a>
  </div>
  <div class="footericon">
    <a href="https://www.instagram.com/verdensmindstekulturhus/"> <img src="img/instagram.svg" alt="instagram"></a> 
    <a href="https://www.facebook.com/profile.php?id=100083528972361"> <img src="img/facebook.svg" alt="facebook"></a>
  </div>
</div>

<style>
  a, p {
    color: var(--maincream);
  }
  .footertext p {
    font-size: 12px;
  }

  .footer_flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--aubergine);
  padding: 20px 40px;
  margin-top: 60px;
}

.footericon {
  display: block;
}

</style>