---
import Burger from "../components/Burger.astro";

---

<div class="header-container">
    <div class="filler"></div>
    <div>
        <a href="/"><img class="logo" src="img/vmk.webp" alt="vmk"></a>
       </div>
    <div>
        <Burger />
    </div>
</div>

<style>

    .filler{
        width: 100px;
        color: transparent;
        background-color: transparent;
        display: block;
    }
    .header-container{
        display: flex;
        justify-content: space-between;
        background-color: var(--maincream);
    }

    .logo{
        width: 75px;
        padding: 10px 0px;
    }
</style>