---
---

<div class="header-container">
    <div></div>
    <div><img class="logo" src="img/vmk.webp" alt="vmk"></div>
    <div></div>
</div>

<style>
    .header-container{
        display: flex;
        justify-content: space-between;
        background-color: var(--maincream);
    }

    .logo{
        width: 75px;
        padding: 10px 0px;
    }
</style>