---
const { title, background } = Astro.props;
import "../styles/style.css";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon_vmk.svg" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Velkommen til Verdens Mindste Kulturhus – et pulserende fællesskab, hvor kultur og events blomstrer. Udforsk vores mangfoldige program med kunst, musik, teater og meget mere. Oplev en unik atmosfære og deltag i spændende arrangementer, der bringer mennesker sammen. Kom og vær en del af vores levende kulturhus i hjertet af byen." />
    <meta name="keywords" content="Fællesskab, Kultur, Events" />
    <meta name="generator" content={Astro.generator} />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="https://use.typekit.net/qxa3iai.css" />

    <title>{title}</title>
  </head>
  <body>
    <Header />
    <div class={background}>
      <main class="main">
        <slot />
      </main>
    </div>
    <Footer />
  </body>
</html>

<style>
  .single-event-bg {
    background-image: url("/../illustration/blyant.svg");
    background-position-x: 110%;
    background-position-y: 150%;
    background-repeat: no-repeat;
    background-size: 500px;
  }
  @media (max-width: 1010px) {
    .single-event-bg {
      background-image: none;
    }
  }

  .om-os-bg {
    background-image: url("illustration/drink.svg");
    background-position-x: 102%;
    background-position-y: 100%;
    background-repeat: no-repeat;
    background-size: 500px;
  }

  @media (max-width: 1010px) {
    .om-os-bg {
      background-image: none;
    }
  }

  .ansog-bg {
    background-image: url("illustration/kaffe.svg");
    background-position-x: -14rem;
    background-position-y: 25rem;
    background-repeat: no-repeat;
    background-size: 500px;
  }

  @media (max-width: 900px) {
    .ansog-bg {
      background-image: none;
    }
  }

  .begivenheder-bg {
    background-image: url("../../illustration/blyant.svg"), url("../../illustration/malesaet.svg");
    background-position-x: -4%, 108%;
    background-position-y: 4%, 80%;
    background-repeat: no-repeat;
    background-size: 500px;
  }
  @media (max-width: 1100px) {
    .begivenheder-bg {
      background-image: none;
    }
  }

  .forside-bg {
    background-image: url("illustration/blyant.svg"), url("illustration/drink.svg"), url("illustration/malesaet.svg"), url("illustration/blyant2.svg");
    background-position-x: -4%, 110%, -4%, 80%;
    background-position-y: 20%, 48%, 85%, 110%;
    background-repeat: no-repeat;
    background-size: 500px;
  }

  @media (max-width: 1100px) {
    .forside-bg {
      background-image: none;
    }
  }

  main {
    max-width: 1150px;
    margin-inline: auto;
    padding-inline: 30px;
    padding-bottom: 105px;
  }

  body {
    overflow-x: hidden;
  }
</style>
