---
const { title, background } = Astro.props;
import "../styles/style.css";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon_vmk.svg" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="generator" content={Astro.generator} />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="https://use.typekit.net/qxa3iai.css" />

    <title>{title}</title>
  </head>
  <body>
    <Header />
    <div class={background}>
    <main class="main">
      <slot />
    </main>
    </div>
    <Footer />
  </body>
</html>

<style>

.single-event-bg{
  background-image: url("/../illustration/blyant.svg");
  background-position-x: 102%;
    background-position-y: 100%;
    background-repeat: no-repeat;
    background-size: 500px;
}
@media (max-width:1010px){
    .single-event-bg{
    background-image: none;
    
  }
}

.om-os-bg{
  background-image: url("illustration/drink.svg");
  background-position-x: 60rem;
    background-position-y: 31rem;
    background-repeat: no-repeat;
    background-size: 500px;
}

@media (max-width:1010px){
    .om-os-bg{
    background-image: none;
    
  }
}


  .ansog-bg{
    background-image: url("illustration/kaffe.svg");
    background-position-x: -14rem;
    background-position-y: 25rem;
    background-repeat: no-repeat;
    background-size: 500px;
  }

  @media (max-width:900px){
    .ansog{
    background-image: none;
    
  }
}

.begivenheder-bg{
  background-image: url("../../illustration/blyant.svg"),url("../../illustration/malesaet.svg");
    background-position-x: -4rem, 68rem;
    background-position-y: 4rem, 40rem;
    background-repeat: no-repeat;
    background-size: 500px;
}
@media (max-width:900px){
    .begivenheder-bg{
    background-image: none;
    
  }
}

.forside-bg{
    background-image: url("illustration/blyant.svg"),url("illustration/drink.svg"),url("illustration/malesaet.svg"), url("illustration/blyant2.svg");
    background-position-x: -4rem, 71rem, -4rem, 50rem;
    background-position-y: 20rem, 45rem, 85rem, 110rem;
    background-repeat: no-repeat;
    background-size: 500px;
  }

  @media (max-width:900px){
    .forside-bg{
    background-image: none;
    
  }
}










  main {
    max-width: 1150px;
    margin-inline: auto;
    padding-inline: 30px;
  }

  body {
    overflow-x: hidden;
  }
</style>
